<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="admin.bean.AdminDTO" alias="admin"/>
		<typeAlias type="advertise.bean.AdvertiseDTO" alias="advertise"/>
		<typeAlias type="community.bean.CommunityDTO" alias="community"/>
		<typeAlias type="community.bean.ReplyDTO" alias="reply"/>
		<typeAlias type="chart.bean.EtcDTO" alias="etc"/>
		<typeAlias type="chart.bean.MemChartDTO" alias="memChart"/>
		<typeAlias type="member.bean.SimriMemberDTO" alias="member"/>
		<typeAlias type="post.bean.PostDTO" alias="post"/>
	</typeAliases>

</configuration>