<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postSQL">

	     <insert id="postWrite" parameterType="post">
      insert into community values(#{category},
                           seq.nextval, 
                           #{email},
                           #{nickname},
                           #{palette}, 
                           #{subject}, 
                           #{content}, 
                           #{testURL}, 
                           sysdate, 
                           #{image},
                           #{hashTag1}, 
                           #{hashTag2},
                           #{hashTag3},
                           #{hit},
                           #{comLike}, 
                           #{comSingo}, 
                           'null',
                           #{comShare}, 
                           #{point},
                           #{reply}
      )
   </insert>
	
	<select id="getSimriPostList" parameterType="java.util.Map" resultType="post">
		select * from (select rownum rn, tt.*from 
		(select * from community where category=#{comCategory} order by comlogtime desc, seq desc)tt 
		)where rn<![CDATA[ >= ]]>#{startNum}
		 and rn <![CDATA[ <= ]]>#{endNum}
	</select>
	
	<select id="getTotalA"  parameterType="java.util.Map" resultType="int">
		select count(*) from community where category = #{comCategory}
	</select>
	
	<select id="getSearchTotalA"  parameterType="java.util.Map" resultType="int">
		select count(*) from community where category = #{comCategory} and subject like '%'||#{postSearchText}||'%'
	</select>
	
	<select id="postSearch" parameterType="java.util.Map" resultType="post">
		select * from (select rownum rn, tt.*from 
		(select * from community where category = #{comCategory} and subject like '%'||#{postSearchText}||'%' order by comlogtime desc, seq desc)tt 
		)where rn<![CDATA[ >= ]]>#{startNum}
		 and rn <![CDATA[ <= ]]>#{endNum}
	</select>
	
	<delete id="postDelete" parameterType="int">
		delete community where seq = #{seq}
	</delete>
	
	
	<select id="DHitLList" parameterType="java.util.Map" resultType="post">
		select * from (select rownum rn, tt.*from 
		(select * from community where category=#{comCategory}  order by hit desc, comlogtime desc, seq desc)tt 
		)where rn<![CDATA[ >= ]]>#{startNum}
		 and rn <![CDATA[ <= ]]>#{endNum}
	</select>
	
	<select id="DHLikeList" parameterType="java.util.Map" resultType="post">
		select * from (select rownum rn, tt.*from 
		(select * from community where category=#{comCategory}  order by comlike desc, comlogtime desc, seq desc)tt 
		)where rn<![CDATA[ >= ]]>#{startNum}
		 and rn <![CDATA[ <= ]]>#{endNum}
	</select>
	
	<update id="viewModify" parameterType="post">
		update community set subject = #{subject}, content = #{content}, comlogtime = sysdate, image = #{image}, testurl =#{testURL}  where seq=#{seq}
	</update>
	
	<select id="getPostView" parameterType="int" resultType="post">
		select * from community where seq=#{seq}
	</select>
	
	<insert id="loveWrite" parameterType="post">
      insert into community values(#{category},
                           seq.nextval, 
                           #{email},
                           #{nickname},
                           #{palette}, 
                           #{subject}, 
                           #{content}, 
                           #{testURL}, 
                           sysdate, 
                           #{image},
                           #{hashTag1}, 
                           #{hashTag2},
                           #{hashTag3},
                           #{hit},
                           #{comLike}, 
                           #{comSingo}, 
                           'null',
                           #{comShare}, 
                           #{point},
                           #{reply}
      )
   </insert>
	
	<select id="getLovePostList" parameterType="java.util.Map" resultType="post">
		select * from (select rownum rn, tt.*from 
		(select * from community where category=#{comCategory} order by comlogtime desc, seq desc)tt 
		)where rn<![CDATA[ >= ]]>#{startNum}
		 and rn <![CDATA[ <= ]]>#{endNum}
	</select>
	
	<select id="getLoveView" parameterType="int" resultType="post">
		select * from community where seq=#{seq}
	</select>
	
</mapper>



























